<div class="modal fade right" id="mensaje_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info modal-full-height modal-right" role="document">
     
        <div class="modal-content">
        
            <div class="modal-header dark-header">
                <p class="heading lead">Atencion Graduando</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <div class="text-center">
                   <i class="fa fa-bell fa-5x mb-1 animated rotateIn dark-icon"></i>
 
										
										<h5 class="h5-resposive">Antes de proceder a registrar tus invitados<br>Debes tener en cuenta lo siguiente:</h5>
                </div>
                <hr>
                
                
<ul class="list-group fuentepdf">
<center>
	<li class="list-group-item"><h5 class="h5-resposive">
		<i class="fa fa-hand-o-right  animated rotateIn info-icon" aria-hidden="true"></i> Se generan un número limitado de invitaciones ,por lo cual dicho número es la cantidad máxima de invitados por graduando.</h5>	
  <img class="img-fluid lostimg" src="{{ asset('img/graduate/tutorial/tutorial1.jpg') }}" alt="Tutorial #1"></li>

  <li class="list-group-item"><h5 class="h5-resposive">
		<i class="fa fa-hand-o-right  animated rotateIn info-icon" aria-hidden="true"></i> Debes registrar el documento de identidad, nombres y apellidos de cada invitado,luego de ingresar los datos de todos los invitados haz click en el boton guardar.</h5>
  <img class="img-fluid lostimg" src="{{ asset('img/graduate/tutorial/tutorial2.jpg') }}" alt="Tutorial #2"></li>
{% if activar %}

  <li class="list-group-item"><h5 class="h5-resposive">
		<i class="fa fa-hand-o-right animated rotateIn info-icon" aria-hidden="true"></i> Para Generar la invitaciónes haz click en el boton "Generar Invitaciónes".</h5>
<img class="img-fluid lostimg" src="{{ asset('img/graduate/tutorial/tutorial3.jpg') }}" alt="Tutorial #3"></li>

<li class="list-group-item"><h5 class="h5-resposive">
<i class="fa fa-hand-o-right animated rotateIn info-icon" aria-hidden="true"></i> Cada invitado deberá presentar la Invitacion o su Documento de identidad el día de la ceremonia.</h5>
<img class="img-fluid lostimg" src="{{ asset('img/graduate/tutorial/tutorial4.jpg') }}" alt="Tutorial #4"></li>
{% else %}
<li class="list-group-item"><h5 class="h5-resposive">
<i class="fa fa-hand-o-right animated rotateIn info-icon" aria-hidden="true"></i> Cada invitado deberá presentar su Documento de identidad el día de la ceremonia.</h5>
<img class="img-fluid lostimg" src="{{ asset('img/graduate/tutorial/tutorial5.jpg') }}" alt="Tutorial #5"></li>
{% endif %}
</center>
</ul>



		

							
            </div>

        </div>
    
    </div>
</div>





<div class="modal fade right" id="mensaje_exito" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success modal-side  modal-bottom-right" role="document">

        <div class="modal-content">
     
            <div class="modal-header">
                <p class="heading lead">Exito!</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-5x mb-1 animated rotateIn"></i>
                    <div id="mensajes" class="animated tada divimens"></div>
                </div>
            </div>

        </div>
 
    </div>
</div>
